@model BabySitter.Models.LoginAdm
@{
    ViewBag.Title = "Quản trị - Babysitting";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<title>Trang Chủ</title>
<h4 class="text-center">Xin Chào <a style="text-transform:uppercase; color:red">@Model.HoTen</a> Đến với trang quản lý </h4>