@model IEnumerable<BabySitter.Models.db_ServiceIntro>


@{

    ViewBag.Title = "Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row d-flex align-items-center flex-wrap">
            <div class="col-md-7">
                <h1 class="h2">Service</h1>
            </div>
            <div class="col-md-5">
                <ul class="breadcrumb d-flex justify-content-end">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Main")">Home</a></li>
                    <li class="breadcrumb-item active">Service</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="content">
    <div class="container">
        <section class="no-mb bar">
            <div class="row">
                <div class="col-md-12">
                    <div id="content">
                        <div class="container">
                            <section class="no-mb bar">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div>
                                            <p style="margin-left:0in; margin-right:0in; text-align:center"><img alt="" src="/Content/upload/img/babysitterpng.png" style="height:832px; width:1166px"></p>
                                        </div>

                                        <hr>
                                        <div>
                                            <div>
                                                <h2><span style="color:#008000">Service</span></h2>
                                            </div>

                                            <div>
                                                <div>
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                
                                                                <th>
                                                                    <h3>Aunty Trinhs Premium Nanny Service.</h3>
                                                                </th>
                                                                <th>
                                                                    <h3>Monday –Friday</h3>
                                                                </th>
                                                                <th>
                                                                    <h3>Saturday, Sunday &amp; Public Holidays 2017</h3>
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                
                                                                <td>
                                                                    <h3>1 Child before midnight</h3>
                                                                </td>
                                                                <td>
                                                                    <h3>USD 8 - 170.000 VND per hour.</h3>
                                                                </td>
                                                                <td>
                                                                    <h3>USD 10 - 220.000VND per hour</h3>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                             
                                                                <td>
                                                                    <h3>1 Child after midnight</h3>
                                                                </td>
                                                                <td>
                                                                    <h3>USD 9 – 200.000VND per hour</h3>
                                                                </td>
                                                                <td>
                                                                    <h3>USD 11 – 240.000VND per hour</h3>
                                                                </td>
                                                            </tr>
                                                           
                                                        </tbody>
                                                    </table>
                                                    <hr />
                                                    <h3 style="text-align:center">•	Additional child  please kindly message me discuss  more. Thank you</h3>
                                                    <h3 style="text-align:center">•	Should you require my nanny service whilst traveling to various places in Vietnam then my accommodation, transportation & food expenses are also to be factored in to my rates.</h3>
                                                </div>
                                            </div>
                                        </div>

                                        <hr>
                                        <div>
                                            <div>
                                                <h2><span style="color:#008000">List of Public holidays 2017 in Vietnam</span></h2>
                                            </div>

                                            <div>
                                                <div>
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>
                                                                    <h3>#</h3>
                                                                </th>
                                                                <th>
                                                                    <h3>Calender</h3>
                                                                </th>
                                                                <th>
                                                                    <h3>Event-day</h3>
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <th scope="row">
                                                                    <h3>1</h3>
                                                                </th>
                                                                <td>
                                                                    <h3>6th of April</h3>
                                                                </td>
                                                                <td>
                                                                    <h3>Hung Kings Commemaration Day</h3>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">
                                                                    <h3>2</h3>
                                                                </th>
                                                                <td>
                                                                    <h3>30th of April</h3>
                                                                </td>
                                                                <td>
                                                                    <h3>Reunification Day</h3>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">
                                                                    <h3>3</h3>
                                                                </th>
                                                                <td>
                                                                    <h3>1st of May</h3>
                                                                </td>
                                                                <td>
                                                                    <h3>Labor Day</h3>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">
                                                                    <h3>4</h3>
                                                                </th>
                                                                <td>
                                                                    <h3>2nd of Sep</h3>
                                                                </td>
                                                                <td>
                                                                    <h3>National Day</h3>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">
                                                                    <h3>5</h3>
                                                                </th>
                                                                <td>
                                                                    <h3>23 , 24 , 25 &amp; 26 of Dec</h3>
                                                                </td>
                                                                <td>
                                                                    <h3>Xmas period (Conditions apply)</h3>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">
                                                                    <h3>6</h3>
                                                                </th>
                                                                <td>
                                                                    <h3>31st of December</h3>
                                                                </td>
                                                                <td>
                                                                    <h3>New years eve (Conditions apply)</h3>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">
                                                                    <h3>7</h3>
                                                                </th>
                                                                <td>
                                                                    <h3>1st of January 2018</h3>
                                                                </td>
                                                                <td>
                                                                    <h3>New years eve (Conditions apply)</h3>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">
                                                                    <h3>8</h3>
                                                                </th>
                                                                <td>
                                                                    <h3>Lunar New Year</h3>
                                                                </td>
                                                                <td>
                                                                    <hr>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                        <hr>
                                        <div>
                                            <h3>&nbsp;</h3>
                                            <h3 style="text-align:center">I genuinely look forward to meeting, working closely and been a part of your family during your pleasant stay in Vietnam.</h3>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
@*@foreach (var service in Model)
{
    @Html.Raw(@service.service)
}*@